.topbar {
  position: relative;
  z-index: 1;
  .left {
    position: absolute;
  }

  .mid {
    margin: auto;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
  }
  .return{
    width: 400px;
    height: 200px;
    // background-color: aliceblue;
    position: absolute;
    top:0;
    left: 0;
  }

}