.container {
  padding: 3rem;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  max-width: 1080px;
  max-height: 1920px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;

  .yangsheng {
    margin: auto;

  }

  .yundong {
    margin: auto;
    margin-top: 3rem;

    .lasheng {
      position: absolute;
      transform: translateY(-123%) translateX(35%);
    }

  }

  .qita {
    margin: auto;
    margin-top: 3rem;


  }
}