
.container {
  padding: 3rem;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  max-width: 1080px;
  max-height: 1920px;

  .timeBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      font-size: 7rem;
      font-weight: bold;
      width: 40%;
      letter-spacing: 3px;
      font-family: "DIN Alternate";
    }

    .mid {
      background-color: #fff;
      width: 1px;
      height: 7rem;
    }

    .right {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      letter-spacing: 2px;
      text-align: right;

      width: 40%;

      .top {
        margin-bottom: 20px;
      }

    }
  }

  .content {
    margin-top: 4rem;
    font-size: 2.5rem;

    .greeting {
      font-size: 3rem;
      font-weight: bold;
    }
  }


  .userInfo {
    margin-top: 3rem;

    .text {
      font-family: "DIN Alternate";
      font-size: 4rem;
      position: absolute;
      transform: translate(6rem, -7.5rem);
      font-weight: bold;

      & > div {
        position: absolute;
        width: 5rem;
        color: #00FFD1;
      }

      .heartBeat {
        transform: translate(-2.5rem, 0);

      }

      .tmp {
        transform: translate(18rem, 0);
      }

      .figer {
        transform: translate(41.5rem, -1rem);
        width: 200px;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;

    & > div {
      width: 50%;
    }

    .products {

    }

    .community {

    }
  }
}

.wifiSetting {
  // border: 1px #fff solid;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 48px;
  top:250px;

}
.videoBackDoor{
  // border: 1px #fff solid;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 300px;
  top:250px;
}

.videos {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
}