.container {
  padding: 3rem;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  max-width: 1080px;
  max-height: 1920px;
}

.connect {
  margin-top: 40%;
}